html {
    scroll-behavior: smooth;
}
/* Scrollbar*/
::-webkit-scrollbar{
    width: 8px;
    height: 20px; 
}

::-webkit-scrollbar-button{
    height: 0.1px;
}
::-webkit-scrollbar-track {
    background-color: #B1B1B1;
}

::-webkit-scrollbar-thumb{
    background-color: #555555;
    border-radius: 10px;
}
@font-face {
    font-family: "The Midnight";
    src: url(../fonts/The\ Midnight\ DEMO.otf);
}
/* Body */

body {
   
    margin: 0;
}

/* Header */

.container {
    width: 95%;
    margin: auto;
}
.header, .header2{
    position: fixed;
    width: 100%;
    height: 20%;
}

.header img, .header2 img {
    width: 11%;
}

.navbar {
    list-style: none;
    float: right;
    width: 28%;
}

.navbar li {
    float: left;
    margin-right: 4%;
    font-size: 17pt;
    padding: 1% 2% 1% 2%;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    box-shadow: 5px 5px 9px -2px black;
    transition: 0.2s ease-in-out;
}
a {
    text-decoration: none;
    color: black;
}

.sobre {
    background-color: #FF385F;
}

.sobre :hover {
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-size: 19pt;

}
.entrar {
    background-color: #936ED4;

}

.entrar :hover {
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-size: 19pt;
}

.cadastrar-se{
    background-color: #1F99D0;
}

.cadastrar-se :hover {
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-size: 19pt;
}

/* Seção 1 */

.secao1 {
    padding-top: 6%;
    overflow: auto;
    align-items: center;
    text-align: center;
    background-image: url(../img/gato_cama.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 5%;
}

.secao1 img {
    width: 30%;
    overflow: auto;
    margin: auto;
    margin: 3% 3% 2% 3%;
    
}

.secao1 h3 {
    /* font-family: 'Domine', serif; */
    margin: 0;
    font-family: 'Delius', cursive;
    color: white;
    font-size: 170%;
}

.secao1 button {
    width: 17%;
    margin: 1% 40% 1% 40%;
    padding: 0.2% 0 0.2% 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 18pt;
    box-shadow: 5px 5px 9px -2px black;
    border-radius: 5px;
    border: none;
}

.botao_entre {
    background-color: #936ED4;
}

.botao_entre a:hover{
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-size: 20pt;
}

.botao_cadastre-se {
    background-color: #1F99D0;
}

.botao_cadastre-se a:hover{
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-size: 20pt;
}

/* Seção 2 */

.secao2 {
    background-image: url(../img/boat-girl.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 10%;
    overflow: auto;
}

.secao2 h2 {
    margin: 0;
    background-color: #F0468D;
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding: 2% 0 2% 0;
    /* text-shadow: 2px 2px #000000; */
}
.secao2 span {
    color: white;
}

.secao2 .div_impacto {
    margin: 0;
    padding-top: 8%;
    float: left;
    width: 50%;
    font-size: 52pt;
    font-family: 'Quicksand', sans-serif;
}

.secao2 .span3{
    padding-top: 10%;
    width: 30%;
    float: right;
    font-family: 'Domine', serif;
    font-size: 20pt;
}

/* Seção 3 */

.secao3{
    background-image: url(../img/reading-girl.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 14%;
    overflow: auto;

}
.secao3 h2 {
    margin: 0;
    background-color: #5856A4;
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding: 2% 0 2% 0;
}

.secao3 .div_impacto {
    margin: 0;
    margin-right: 30%;
    padding-top: 8%;
    padding-bottom: 2%;
    width: 70%;
    font-size: 52pt;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.secao3 .div_txt {
    width: 60%;
    font-family: 'Domine', serif;
    font-size: 20pt;
    color: white;
    border-radius: 20px;
}

/* Seção 4 */

.footer {
    margin: 0;
    background-color: #1F99D0;
    color: white;
    text-align: center;
    font-family: 'Delius', cursive;
    padding: 1% 0 1% 0;
    font-size: 13pt;

}

.footer a{
    text-decoration: none;
    color: white;
}

.footer a:hover{
    transition: 0.2s;
    color: #021A37;
}

.secao3 button {
    margin: 2% 0 2% 0;
    padding: 1% 0.5% 1% 0.5%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 18pt;
    box-shadow: 5px 5px 9px -2px black;
    border-radius: 5px;
    border: none;
    background-color: #1F99D0;
}

.secao3 button:hover {
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-size: 19pt;
}



/*       LOGIN           */
.body2 {
    background-color: #555555;
    background-repeat: no-repeat;
    background-size: cover;
}
.header2 .navbar {
    width: 13.8%;
}

.header2 .cadastrar-se {
    padding: 2% 4% 2% 4%;
}

.login_box {
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 5.8%;
    overflow: auto;
    margin: auto;
}

.login_box img {
    width: 23%;
    margin-bottom: 2%;
}

.login_box input {
    text-align: center;
    background-color: rgba(255,255,255, 0.8);
    padding: 0.3% 0.1% 0.3% 0.1%;
    width: 23%;
    margin: 0.5% 38.5% 0.5% 38.5%;
    font-family: 'Quicksand', sans-serif;
    font-size: 16pt;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 9px -2px black;
}

.login_box input::placeholder {
    color: black;
}

.login_box button {
    margin: 0.5% 38.5% 0.5% 38.5%;
    width: 23%;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 9px -2px black;
    font-family: 'Quicksand', sans-serif;
    font-size: 18pt;
    font-weight: bolder;
    cursor: pointer;
}

.login_box button:hover {
    color: white;
    transition: 0.3s;
    font-size: 20pt;
}

.login_box .criar_conta{
    background-color: #1F99D0;
}

.login_box .entrar{
    background-color:#936ED4;
}

.login_box span {
    font-size: 20pt;
    font-family: 'Delius', cursive;
}

/*   CADASTRO     */

.body3 {
    background-color: #936ED4;
    background-image: url(../img/midnight.jpg);
    background-repeat: no-repeat;
    background-size:cover
}

.body3 .header {
    position: unset;
}

.cad_box{
    width: 80%;
    height: 300px;
    margin: auto;
    text-align: center;
}

.cad_box input {
    text-align: center;
    background-color: rgba(255,255,255, 0.9);
    padding: 0.3% 0.1% 0.3% 0.1%;
    width: 34%;
    margin: 0.5% 33% 0.5% 33%;
    font-family: 'Quicksand', sans-serif;
    font-size: 16pt;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 9px -2px black;

}

.cad_box .criar_conta{
    margin: 0.5% 33% 0.5% 33%;
    width: 34%;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 9px -2px black;
    font-family: 'Quicksand', sans-serif;
    font-size: 18pt;
    font-weight: bolder;
    background-color: #1F99D0;
}

.cad_box .criar_conta:hover{
    cursor: pointer;
    color: white;
    font-size: 20pt;
    transition: 0.3s;
}

.cad_box img {
    width: 34%;
}


