/* Scrollbar */

::-webkit-scrollbar{
    width: 8px;
    height: 20px; 
}

::-webkit-scrollbar-button{
    height: 0.1px;
}
::-webkit-scrollbar-track {
    background-color: #B1B1B1;
}

::-webkit-scrollbar-thumb{
    background-color: #555555;
    border-radius: 10px;
}

/* body */
body {
    margin: 0;
    /* background-image: url(../img/berserk.png); */
    background-image: url(../img/berserk-background.jpeg);
    background-color: #5856A4;   
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

/* Header */
.container {
    width: 95%;
    margin: auto;
}
.header {
    margin: 0;
    overflow: auto;
    position: fixed;
}

.header ul {
    list-style: none;
    float: right;
    width: 17%;
    text-align: center;
    margin-top: 0;
}

.header img {
    width: 11%;
    float: left;
    /* margin-top: 5%; */
}

.header .logout {
    float: left;
    background-color: #936ED4;
    margin-right: 4%;
    margin-top: 5%;
    font-size: 17pt;
    padding: 2% 10% 2% 10%;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    box-shadow: 5px 5px 9px -2px black;
    
}

.header .li_img {
    float: right;
    margin-right: 4%;
    padding: 0% 10% 2% 10%;
    width: 28%;
}

.header .display_nome_usuario {
    display: none;
    font-size: 92%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    background-color: #cfcfcf; 
    border-radius: 6px;
    padding: 2% 1% 1% 2%;
    margin: 0 0 0 45%;
}

.header a{
    text-decoration: none;
    color: black;
}

.header a:hover {
    transition: 0.2s;
    color: white;
    font-size: 20pt;
}

h2 {
    margin: 0;
    
}

/* tags */

.tags{
    text-align: center;
    width: 15%;
    margin: 0 42.5% 8% 42.5%;
    padding-top: 7%;
    font-family: 'Domine', serif;
    font-weight: bolder;
    font-size: 40pt;
    text-shadow: rgb(0, 0, 0) 1px 2px 4px;
    /* border-bottom: 3px solid black; */
    color: #A93636;
    /* overflow: auto; */
}

.div_tags {
    overflow: auto;
    margin: 0% 0% 5% 0%;
}

/* /mu/ */
.mu {
    text-align: center;
    width: 23%;
    height: 60vh;
     border-radius: 6px;
     border: 5px outset #797979;
     margin: 0% 0% 0% 6.75%;
     background-color: white;
     float: left;
     box-shadow: 11px 27px 18px -4px black;
 
}

.mu img {
    width: 40%;
    border-radius: 100px;
    border: 5px solid black;
    margin-top: 5%;
    background-color: white;
    cursor: pointer;
}
   
.mu h3 {
    font-family: 'Domine', serif;
    font-weight: bolder;
    font-size: 22pt;
    margin: 0;
    padding-top: 1%;
    cursor: pointer;
    
}

.mu h3:hover{
    transition: 0.2s;
    color: #1F99D0;
}
.txt_mu {
    padding-top: 8%;
    font-family: 'Domine', serif;
    /* padding-bottom: 20%; */
    font-size: 14pt;
}

/* GOD */

.god {
    text-align: center;
    width: 23%;
    height: 60vh;
     border-radius: 6px;
     border: 5px outset #797979;
     margin: 0% 0% 0% 7.75%;
     background-color: white;
     float: left;
     box-shadow: 11px 27px 18px -4px black;

}

.god img {
    width: 40%;
    border-radius: 100px;
    border: 5px solid black;
    margin-top: 5%;
    background-color: white;
    cursor: pointer;
}

.god h3 {
    font-family: 'Domine', serif;
    font-weight: bolder;
    font-size: 22pt;
    margin: 0;
    padding-top: 1%;
    cursor: pointer;
}

.god h3:hover{
    transition: 0.2s;
    color: #936ED4;
}

.txt_god {
    padding-top: 8%;
    font-family: 'Domine', serif;
    /* padding-bottom: 20%; */
    font-size: 14pt;
}

/* /hack/ */

.hack{
    text-align: center;
    width: 23%;
     border-radius: 6px;
     border: 5px outset #797979;
     margin: 0% 0% 0% 7.75%;
     background-color: white;
     float: left;
     height: 60vh;
     box-shadow: 11px 27px 18px -4px black;
}

.hack img {
    width: 40%;
    border-radius: 100px;
    border: 5px solid black;
    margin-top: 5%;
    background-color: white;
    cursor: pointer;
}

.hack h3 {
    font-family: 'Domine', serif;
    font-weight: bolder;
    font-size: 22pt;
    margin: 0;
    padding-top: 1%;
    cursor: pointer;
}

.hack h3:hover{
    transition: 0.2s;
    color: #FF385F;
}
a{
    text-decoration: none;
    color: black;
}

.txt_hack {
    padding-top: 8%;
    font-family: 'Domine', serif;
    /* padding-bottom: 20%; */
    font-size: 14pt;
}
.transicao_para_o_grafico {
    margin: 0;
    background-color: #F0468D;
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding: 2% 0 2% 0;
}

.background-grafico {
    background-color: #5856A4;
    background-image: url(../img/caska-eyes.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 5%;
}

.meu-grafico {
    width: 80%;
    margin: 0% 10% 0% 10%;
}
.footer {
    float: right;
    width: 100%;
    margin: 0;
    background-color: #1F99D0;
    color: white;
    text-align: center;
    font-family: 'Delius', cursive;
    padding: 1% 0 1% 0;
    font-size: 13pt;
    overflow: auto;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer a:hover{
    transition: 0.2s;
    color: #021A37;
}